---
import { getCollection } from "astro:content"
import Layout from "../layouts/Layout.astro"
import BlogPost from "../components/BlogPost.astro"
const allPosts = await getCollection("blog")
const pageTitle = "bitbloxhub's blog"
---
<Layout title={pageTitle}>
	<main class="m-auto p-6 max-w-6xl text-left">
		<h1>bitbloxhub's blog!</h1>
		<ul class="text-base">
			{allPosts.map((post) => <BlogPost url={`/posts/${post.slug}/`} description={post.data.description} title={post.data.title} pubDate={post.data.pubDate} renderPromise={post.render()} />)}
		</ul> 
	</main>
</Layout>